.example-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 70px 0;
}

.example-container > * {
  width: 100%;
}
.grid{
  display: grid
}

.mat-form-field{
  display: unset !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(255,255,255,.7) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(255,255,255,.7) !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: rgba(255,255,255,.7) !important;;
}
.formspace{
  margin-top: 1% !important;
}
.btn{
  background-color: green;
  margin-top: 3%;
}
