<img src="../../assets/verschoben.png" style=" display: block;
margin-left: auto;
margin-right: auto;
width: 50%;" />

<mat-label class="centerText" style="color:red;text-align: center">
    Durch die aktuelle Situation hängt über unserem
großen Tag ein Schatten, den wir da nicht haben
wollen. Deswegen haben wir uns entschieden,
unsere Hochzeitsfeier auf den<br>
11.09.2021 11.09.2021 11.09.2021<br>
zu verschieben und dieses Jahr nur im engsten
Familienkreis die standesamtliche Trauung zu
begehen.<br>
Die Feier inklusive einer kurzen Trauzeremonie
findet am 11.09.2021 ab 14:00 Uhr im Sportheim
Sackenbach e.V. (Pfingstgrundstraße) statt.<br>
Ansonsten ändert sich nichts, außer dass ihr uns
bitte bis zum 01.05.2021 Bescheid gebt, ob ihr
dabei seid.<br>
Wir freuen uns weiterhin sehr auf ein großes Fest
mit euch allen gemeinsam! <br>
<br>
Pass gut auf euch auf!

  </mat-label>
  <mat-label class="centerText">
    Ihr wollt mit Magdalena und Daniel ihre Hochzeit feiern? Ihr habt uns noch keine Rückmeldung geben?
    Dann seid ihr hier genau richtig!

  </mat-label>
<form
  #Formular="ngForm"
  class="example-container"
  (ngSubmit)="Submit(Formular.value)"
>
  <div *ngFor="let field of fields | entryIDFilter"
  class="formspace">
    <mat-form-field *ngIf="field.Type == 'text'">
      <input
        matInput
        placeholder="{{ field.Title }}"
        id="{{ field.ID }}"
        name="{{ field.ID }}"
        [(ngModel)]="answer[field.ID]"
      />
    </mat-form-field>
    <mat-form-field *ngIf="field.Type == 'number'">
      <input
        matInput
        type="number"
        placeholder="{{ field.Title }}"
        id="{{ field.ID }}"
        name="{{ field.ID }}"
        [(ngModel)]="answer[field.ID]"
      />
    </mat-form-field>
    <mat-label *ngIf="field.Type == 'checkbox'">{{ field.Title }}</mat-label>
    <section *ngIf="field.Type == 'checkbox'" multiple>
      <div class="grid">
        <mat-checkbox
          *ngFor="let subField of field.SubFields"
          id="{{ subField.ID }}"
          name="{{ subField.ID }}"
          [(ngModel)]="answer[subField.ID]"
          >{{ subField.Title }}</mat-checkbox>
        </div>
    </section>
    <mat-form-field
      *ngIf="
        field.Type != 'checkbox' &&
        field.Type != 'text' &&
        field.Type != 'number'
      "
    >
      <input
        *ngFor="let subField of field.SubFields"
        matInput
        placeholder="{{ subField.Title }}"
        id="{{ subField.ID }}"
        name="{{ subField.ID }}"
        [(ngModel)]="answer[subField.ID]"
      />
    </mat-form-field>
    <label *ngIf="(fieldErrors | errorFilter:field.ID) !== undefined">{{ (fieldErrors | errorFilter:field.ID).ErrorText }}</label>
  </div>
  <button mat-button type="submit" class="btn btn-success">Abschicken</button>
</form>
