<form
  #Formular="ngForm"
  class="example-container"
  (ngSubmit)="Submit(Formular.value)"
>
  <div *ngFor="let field of fields | entryIDFilter"
  class="formspace">
    <mat-form-field *ngIf="field.Type == 'text'">
      <input
        matInput
        placeholder="{{ field.Title }}"
        id="{{ field.ID }}"
        name="{{ field.ID }}"
        [(ngModel)]="answer[field.ID]"
      />
    </mat-form-field>
    <mat-form-field *ngIf="field.Type == 'number'">
      <input
        matInput
        type="number"
        placeholder="{{ field.Title }}"
        id="{{ field.ID }}"
        name="{{ field.ID }}"
        [(ngModel)]="answer[field.ID]"
      />
    </mat-form-field>
    <mat-label *ngIf="field.Type == 'checkbox'">{{ field.Title }}</mat-label>
    <section *ngIf="field.Type == 'checkbox'" multiple>
      <div class="grid">
        <mat-checkbox
          *ngFor="let subField of field.SubFields"
          id="{{ subField.ID }}"
          name="{{ subField.ID }}"
          [(ngModel)]="answer[subField.ID]"
          >{{ subField.Title }}</mat-checkbox>
        </div>
    </section>
    <mat-form-field
      *ngIf="
        field.Type != 'checkbox' &&
        field.Type != 'text' &&
        field.Type != 'number'
      "
    >
      <input
        *ngFor="let subField of field.SubFields"
        matInput
        placeholder="{{ subField.Title }}"
        id="{{ subField.ID }}"
        name="{{ subField.ID }}"
        [(ngModel)]="answer[subField.ID]"
      />
    </mat-form-field>
    <label *ngIf="(fieldErrors | errorFilter:field.ID) !== undefined">{{ (fieldErrors | errorFilter:field.ID).ErrorText }}</label>
  </div>
  <button mat-button type="submit" class="btn btn-success">Abschicken</button>
</form>
